.layout_with_slidebar{
    display: grid;
    grid-template-columns: 15vw 82vw 3vw;
    position: fixed;
    min-height: 100vh !important;
    max-height: 100vh !important;
}
.layout_without_slidebar{
    display: grid;
    grid-template-columns: 4vw 93vw 3vw;
    position: fixed;
    min-height: 100vh !important;
}
.left_layout{
    background-color: transparent;
}
.middle_layout{
    /* background-color: greenyellow; */
    display: grid;
    grid-template-rows: 7% 93%;
}
.right_layout{
    background-color: transparent;
}

.layout_without_slidebar .middle_layout{
    padding-left: 1%;
    padding-right: 1%;
}
.mailAreaTopBar{
    /* background-color: aqua; */
}
.mailArea{
    /* background-color: blue; */
}
.mailSectionArea{
    height: 7vh;
    /* height: 50px; */
    display: flex;
}
.mailInbox{
    /* background-color: rgb(196, 253, 234); */
}
